---
layout: default
---
<aside class="c-sidebar">
  <div class="c-sidebar-author">
    <div class="c-author__cover">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/{% if site.author-image %}{{site.author-image}}{% endif %}" alt="{{site.author-name}}">
      </a>
    </div>
    <div class="c-author__info">
      <div class="c-author__name">{{site.author-name}}</div>
      <span class="c-author__job">
        | <a href="https://github.com/{{site.social-github}}" target="_blank">Github</a>
        | <a href="https://www.linkedin.com/in/akshay-dharmavaram-213a68152/" target="_blank">LinkedIn</a>
        | CV |
      </span><br>
      <span class="c-author__job">adharmav {at] andrew [dot) cmu (dot} edu</span>
    </div>
    <div class="c-contact-menu">
      {% if site.author-email %}
      <a href="/contact" class="c-contact-btn c-btn c-btn--secondary c-btn--round c-btn--shadow"><span data-icon='ei-envelope' data-size='s'></span> Send me</a>
      {% else %}
      {% endif %}
      {% if site.author-twitter %}
      <a href="https://twitter.com/intent/user?screen_name={{ site.social-twitter }}" class="c-btn c-btn--primary c-btn--round c-btn--shadow"><span data-icon='ei-sc-twitter' data-size='s'></span> Follow me</a>
      {% else %}
      {% endif %}
    </div>
    <p class="c-author__about">Hi, I work with <a href="https://davheld.github.io" target="_blank">{{site.author-advisor}}</a> {{site.about-author | strip_html | truncatewords: 100}} <a href="https://www.csa.iisc.ac.in/~shalabh/" target="_blank">Prof. Shalabh Bhatnagar</a>.</p>
  </div>

  <div class="c-sidebar-footer">
    <div class="c-social">
      <div class="c-social__title">Education</div>
      <div class="c-sidebar-author">
        <div align="left" class="c-author__info">
          <p class="c-author__about">Carnegie Mellon University (CMU), Pittsburgh</p><br>
          <span class="c-author__job">
          <ul style="list-style-type:none;">
            <li>M.S. in Robotics [2022]</li>
          </ul></span>
          <p class="c-author__about">Birla Institute of Technology and Science (BITS), Goa</p><br>
          <span class="c-author__job">
          <ul style="list-style-type:none;">
            <li>B.E. (Hons.) Comp. Sci. [2020]</li>
            <li>B.E. (Hons.) Elec. Eng. [2020]</li>
          </ul>
        </span>
        </div>
      </div>
    </div>
    <div class="c-copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author-name}}</p>
    </div>
  </div>
</aside> <!-- /.c-sidebar -->

<main class="c-content">
  {{ content }}
</main> <!-- /.c-content -->
